{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Dan McDadey{% endblock %}

{% block page_content %}
<body>
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sample App</h1>
            <span class="subheading">A Sample Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <header class="masthead">
    <h1>Index Page</h1>
  </header> -->
</body>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
