{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Dan McDade - Post{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="post-title"><h2>{{ post.title }}</h2></div>
</div>

<div class="post-content">
  <div class="post-date">{{ moment(post.timestamp).calendar() }}</div>
  <div class="post-author">{{ post.author.username }}</div>
  <div class="post-body">
      {% if post.body_html %}
          {{ post.body_html | safe }}
      {% else %}
          {{ post.body }}
      {% endif %}
  </div>
  <div class="post-footer">
    <a href="{{ url_for('.post', id=post.id) }}#comments">
        <span class="label label-primary">{{ post.comments.count() }} Comments</span>
    </a>
  </div>
</div>
<h4 id="comments">Comments</h4>
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
</div>
{% endif %}
{% endblock %}
