{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dan McDade - Flask+React{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Dan loves Anan!!!</h1>
  <h3>How much does Dan love Anan?</h3>
  <p>Dan loves anan so so so so so so so so so so so so so so so so
    so so so so so so so so so so so so so so so so so so so so so so so so
    so so so so so so so so so so so so so so so so much!!!!!!!!!!
    Honestly it is ridiculous she is just the greatest thing that he could ever have
    imagined in his ENTIRE LIFE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    LOVE YOU BABYYYYYY!!!!!!!!!!!!!!!!!!
  </p>
</div>
{% endblock %}
