{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dan McDade - Flask+React{% endblock %}

{% block page_content %}
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- styles -->
</head>

<body>
  <!-- scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script type="text/jsx", src="{{ url_for('static', filename='js/tic_tac_toe.js') }}"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/tic_tac_toe.css') }}">
  <div class="container">
    <h1>Flask + React</h1>
    <br>
    <div id="errors" style="
      background: #c00;
      color: #fff;
      display: none;
      margin: -20px -20px 20px;
      padding: 20px;
      white-space: pre-wrap;
    "></div>
    <div id="root"></div>
    <script>
      window.addEventListener('mousedown', function(e) {
        document.body.classList.add('mouse-navigation');
        document.body.classList.remove('kbd-navigation');
      });

      window.addEventListener('keydown', function(e) {
        if (e.keyCode === 9) {
          document.body.classList.add('kbd-navigation');
          document.body.classList.remove('mouse-navigation');
        }
      });

      window.addEventListener('click', function(e) {
        if (e.target.tagName === 'A' && e.target.getAttribute('href') === '#') {
          e.preventDefault();
        }
      });

      window.onerror = function(message, source, line, col, error) {
        var text = error ? error.stack || error : message + ' (at ' + source + ':' + line + ':' + col + ')';
        errors.textContent += text + '\n';
        errors.style.display = '';
      };

      console.error = (function(old) {
        return function error() {
          errors.textContent += Array.prototype.slice.call(arguments).join(' ') + '\n';
          errors.style.display = '';
          old.apply(this, arguments);
        }
      })(console.error);
    </script>
  </div>
</body>
{% endblock %}
